<label1> INFORMACIÓN PERSONAL</label1>
<br>
<label> Tu nombre      
[text* your-name] </label>
<label> Apellidos      
[text* your-name] </label>
<label> Dirección      
[text* your-name] </label>
<label> Ciudad         
[text* your-name] </label>
<label> Pais          
[text* your-name] </label>
<label> Tu correo electrónico    
[email* your-email] </label>
<label> Telefono Fijo 
[number* Teléfono][number* TelefonoFijo]</label>
<label> Telefono Movil 
[number* Teléfono][number* TelefonoMovil]</label>
<label> Fecha de Nacimiento 
[date FechadeNacimiento]</label>
<label> Nacionalidad      
[text* your-name] </label>
<label> Pasaporte      
[text* your-name] </label>
<br>
<br>
<label1> FOTOGRAFIA PERSONAL</label1>
<br>
<label>Subir fotografía: [file FotografiaPersonal limit:150000 filetypes:jpg]</label>
<label>Requisitos: Foto tamaño pasaporte, dimensiones: 167 píxeles de ancho y 200 píxeles de alto, a color, nítida, fondo blanco, peso máximo: 150 kb.</label>
<br>
<label> Nota importante: SI VAS A IMPRIMIR TU CV Y NO LOGRAS CARGAR UNA FOTO, PEGA UNA EN EL CV IMPRESO. NO DEJES UN RECUADRO EN BLANCO!</label>
<br>
<label1> FORMACION PROFESIONAL</label1>
<br>
<Label>1.Centro de Estudios:[select* CentrodeEstudios "Universidad" "Instituto"]</label>
<label>Nombre del Instituto o Universidad:
[text* institucion]</label>
<label>Título o grado obtenido:
[text* grado]</label>
<label>Período de estudio:
del[date* date-15 placeholder]</label><label>al  [date date-271 placeholder]</label>
<br>
<Label>2.Centro de Estudios:[select* CentrodeEstudios "Universidad" "Instituto"]</label>
<label>Nombre del Instituto o Universidad:
[text* institucion]</label>
<label>Título o grado obtenido:
[text* grado]</label>
<label>Período de estudio:
del[date* date-15 placeholder]</label><label>al  [date date-271 placeholder]</label>
<br>
<Label>3.Centro de Estudios:[select* CentrodeEstudios "Universidad" "Instituto"]</label>
<label>Nombre del Instituto o Universidad:
[text* institucion]</label>
<label>Título o grado obtenido:
[text* grado]</label>
<label>Período de estudio:
del[date* date-15 placeholder]</label><label>al  [date date-271 placeholder]</label>
<br>
<label1> CERTIFICACIONES</label1>
<br>
<label>Nota: Escriba aquí los cursos de especialización/postgrado en su área.[textarea comentario]</label>
<br>
<label1> EXPERIENCIA LABORAL</label1>
<br>
<label>Nota: Comience colocando su experiencia laboral más reciente y retroceda cronológicamente. Por favor no coloque más de 3 experiencias laborales. Los trabajos temporales y los work& travel cuentan como experiencia laboral.</label>
<br>
<label>Empresa o Institución:
[text* empresa]</label>
<label>Ciudad y País:
[text* cyp]</label><label>* (formato: Lima - Perú)</label>
<label>Puesto desempeñado:
[text* puesto]</label>
<label>Período de trabajo:
del[date* date-15 placeholder]</label><label>al  [date date-271 placeholder]</label><label>* (Ejm.: 07/09/1977)</label>
<label> Funciones 
[text* your-name] </label>
<br>
<label>Empresa o Institución:
[text* empresa]</label>
<label>Ciudad y País:
[text* cyp]</label><label>* (formato: Lima - Perú)</label>
<label>Puesto desempeñado:
[text* puesto]</label>
<label>Período de trabajo:
del[date* date-15 placeholder]</label><label>al  [date date-271 placeholder]</label><label>* (Ejm.: 07/09/1977)</label>
<label> Funciones 
[text* your-name] </label>
<br>
<label>Empresa o Institución:
[text* empresa]</label>
<label>Ciudad y País:
[text* cyp]</label><label>* (formato: Lima - Perú)</label>
<label>Puesto desempeñado:
[text* puesto]</label>
<label>Período de trabajo:
del[date* date-15 placeholder]</label><label>al  [date date-271 placeholder]</label><label>* (Ejm.: 07/09/1977)</label>
<label> Funciones 
[text* your-name] </label>
<br>
<label1> IDIOMAS</label1>
<br>
<label>1.Seleccionar Idioma[select* Idiomas include_blank "Ingles" "Frances" "Italiano" "Aleman" "Portuguez"]</label><label>Nivel de Idioma[select* Idiomas include_blank "Basico" "Intermedio" "Avanzado"]</label>
<label>2.Seleccionar Idioma[select* Idiomas include_blank "Ingles" "Frances" "Italiano" "Aleman" "Portuguez"]</label><label>Nivel de Idioma[select* Idiomas include_blank "Basico" "Intermedio" "Avanzado"]</label>
<label>3.Seleccionar Idioma[select* Idiomas include_blank "Ingles" "Frances" "Italiano" "Aleman" "Portuguez"]</label><label>Nivel de Idioma[select* Idiomas include_blank "Basico" "Intermedio" "Avanzado"]</label>
<br>
<label1> REFERENCIA LABORAL</label1>
<br>
<label>Nota: Señale 2 personas que puedan dar buenas referencias sobre su desempeño profesional.</label>
<label>1.Nombres y apellidos:
[text* contact-name] </label>
<label> Ocupación en la empresa:
[text* your-name] </label>
<label> Nombre de la empresa:
[text* your-name] </label>
<label> Telefono Fijo 
[number* Teléfono][number* TelefonoFijo]</label><label>(Si es de provincia poner cógido de ciudad)</label>
<br>
<label>1.Nombres y apellidos:
[text* contact-name] </label>
<label> Ocupación en la empresa:
[text* your-name] </label>
<label> Nombre de la empresa:
[text* your-name] </label>
<label> Telefono Fijo 
[number* Teléfono][number* TelefonoFijo]</label><label>(Si es de provincia poner cógido de ciudad)</label>
<br>

[submit "Enviar"]