
<section>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="fnd_medio">
  <tr>
    <td width="220" align="center" valign="top"><a href="http://www.facebook.com/pages/TRABAJA-EN-CRUCEROS-CRC-PERU/186012871451477?ref=pb" target="_blank"><img src="images/banner_Facebook.png" alt="Síguenos en Facebbok" width="170" height="68" border="0" style="margin-top:30px"></a><a href="postula-ahora-crc-peru.html"><img src="images/banner_PostulaAhora.png" alt="Postula AHORA!" width="172" height="322" border="0" style="margin-top:20px"></a><a href="testimonios-videos-crc-peru.html"><img src="images/banner_Testimonios.png" alt="Testimonios de Nuestros Tripulantes" width="164" height="375" border="0" style="margin-top:15px"></a><a href="preguntas-frecuentes-crc-peru.html"><img src="images/banner_PreguntasFrecuentes.png" alt="Preguntas Frecuentes" width="170" height="167" border="0" style="margin-top:20px"></a><a href="centro-formacion-programas-especializacion-top-skills-crc-peru.html"><img src="images/banner_TopSkills.png" alt="Programas de Especializacion - Top Skills" width="175" height="285" border="0" style="margin-top:15px"></a><a href="centro-formacion-programa-ingles-crc-peru.html"><img src="images/banner_NOHablasIngles.gif" alt="NO Hablas Inglés?" width="191" height="216" border="0" style="margin-top:20px"></a></td>
    <td align="left" valign="top" class="fnd_medio_int"><h1><img src="images/icon_sun.png" width="35" height="25" style="vertical-align:middle">Postula AHORA!</h1>
      <p><img src="images/subtit_mi_cv.png" alt="QUE ES CRC-PERU?" width="250" height="25"></p>
      <p>Create your resume by filling out the following information:</p>
      <p align="center" class="tipsy-inner_form"><strong>Personal Information</strong></p>
      <form action="application/process.php" method="post" enctype="multipart/form-data" name="form" id="form" onSubmit="return validate(this)">
              <input type="hidden" id="lan" name="lan" value="en">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="70%" align="left" valign="top">
                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:45px">
                      <tr>
                        <td class="fnd_form"><table width="87%" border="0" align="center" cellpadding="8" cellspacing="0">
                          <tr>
                            <td width="140" class="txt_form">Names:</td>
                            <td><label>
                              <input name="nombres" type="text" class="cajita" id="nombres" style="width:380px" />
                              <span class="tit_important">*</span></label></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Last names:</td>
                            <td><input name="apellidos" type="text" class="cajita" id="apellidos" style="width:380px" />
                                <span class="tit_important">*</span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Address:</td>
                            <td><input name="direccion" type="text" class="cajita" id="direccion" style="width:380px" />
                                <span class="tit_important">*</span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">City:</td>
                            <td><input name="ciudad" type="text" class="cajita" id="ciudad" style="width:380px" />
                                <span class="tit_important">*</span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Country:</td>
                            <td><input name="pais" type="text" class="cajita" id="pais" style="width:380px" />
                                <span class="tit_important">*</span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">E-mail:</td>
                            <td><input name="email" type="text" class="cajita" id="email" style="width:380px" />
                                <span class="tit_important">*</span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Phone number:</td>
                            <td><input name="telefono" type="text" class="cajita" id="telefono" size="17" />
                                <span class="tit_important">* </span><span class="txt_datos1">(Please indicate city code)</span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Cell phone:</td>
                            <td><input name="celular" type="text" class="cajita" id="celular" size="17" /></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Other phones:</td>
                            <td><input name="other_phone1" type="text" class="cajita" id="other_phone1" size="17" />
                                <input name="other_phone2" type="text" class="cajita" id="other_phone2" size="17" />
                                <input name="other_phone3" type="text" class="cajita" id="other_phone3" size="16" /></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Date of birth:</td>
                            <td><select name="fechainfo1" id="fechainfo1">
                                <option value="">* D&iacute;a</option>
                                <option>--------</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                              </select>
                                <select name="fechainfo2" id="fechainfo2">
                                  <option value="">* Mes</option>
                                  <option>------------------</option>
                                  <option value="January">January</option>
                                  <option value="February">February</option>
                                  <option value="March">March</option>
                                  <option value="April">April</option>
                                  <option value="May">May</option>
                                  <option value="June">June</option>
                                  <option value="July">July</option>
                                  <option value="August">August</option>
                                  <option value="September">September</option>
                                  <option value="October">October</option>
                                  <option value="November">November</option>
                                  <option value="December">December</option>
                                </select>
                                <select name="fechainfo3" id="fechainfo3">
                                  <option value="">* A&ntilde;o</option>
                                  <option>-----------</option>
                                  <?php
                                  $year1 = date("Y")-18;
                                  for($i=0;$i<50;$i++)
                                  {
                                     $year1--;
                                     echo '<option value="'.$year1.'">'.$year1.'</option>';
                                  }
                                  ?>
                                </select>
                                <span class="txt_inf3"><span class="tit_important">*</span></span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Nationality:</td>
                            <td><input name="nacionalidad" type="text" class="cajita" id="nacionalidad" size="30" />
                                <span class="tit_important">*</span></td>
                          </tr>
                          <tr>
                            <td class="txt_form">Passport Number:</td>
                            <td><input name="pasaporte" type="text" class="cajita" id="pasaporte" size="30" /></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <p align="center" class="tipsy-inner_form"><strong>Personal Photo</strong></p>
              <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:45px">
                <tr>
                  <td class="fnd_form"><table width="70%" border="0" align="center" cellpadding="7" cellspacing="0">
                    <tr>
                      <td width="25%" class="txt_form">Upload photo:</td>
                      <td class="txt_form"><label>
                      <input name="foto" type="file" id="foto" size="25" />
                      <span class="tit_important">*</span></label></td>
                    </tr>
                  </table>
                    <p class="txt_form"><span class="titus2">Requirements: </span>Passport size, dimensions: 167 pixels wide and 200 pixels high, color photo, white background, maximum: 150 kb.</p>
                    <p class="txt_form"><strong><span class="titus2">Important note:</span> IF YOU ARE NOT ABLE TO UPLOAD A PHOTO, PRINT YOUR CV AND PASTE YOUR PICTURE. DO NOT LEAVE A BLANK BOX IN THE PHOTO SPACE OF A PRINTED CV!</strong></p></td>
                </tr>
              </table>
              <p align="center" class="tipsy-inner_form"><strong>Education</strong></p>
              <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:25px">
                <tr>
                  <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                    <tr>
                      <td class="txt_form"><strong>1.</strong></td>
                      <td width="210" height="30" class="txt_form">Study Centre:</td>
                      <td><select id="ed_uni1" name="ed_uni1">
                          <option value="University">University</option>
                          <option value="Institute">Institute</option>
                        </select>
                          <span class="tit_important">*</span></td>
                    </tr>
                    <tr>
                      <td class="txt_form">&nbsp;</td>
                      <td height="30" class="txt_form">Name of University or Institute:</td>
                      <td><input name="ed_nombre1" type="text" class="cajita" id="ed_nombre1" style="width:380px" />
                          <span class="tit_important">*</span></td>
                    </tr>
                    <tr>
                      <td class="txt_form">&nbsp;</td>
                      <td height="30" class="txt_form">Degree obtained:<br>
                      <span class="txt_datos1">(please indicate the career you studied)</span></td>
                      <td><input name="ed_carrera1" type="text" class="cajita" id="ed_carrera1" style="width:380px" />
                          <span class="tit_important">*</span></td>
                    </tr>
                    <tr>
                      <td class="txt_form">&nbsp;</td>
                      <td height="30" class="txt_form">Study Period:</td>
                      <td class="txt_datos1">from:
                        <input name="ed_inicio1" type="text" class="cajita" id="ed_inicio1" size="10" />
                        until:
                        <input name="ed_final1" type="text" class="cajita" id="ed_final1" size="10" />
                        <span class="tit_important">*</span> (Example: 07/09/1977)</td>
                    </tr>
                  </table></td>
                </tr>
              </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td class="txt_form"><strong>2.</strong></td>
                                <td width="210" class="txt_form">Study Centre:</td>
                                <td><select id="ed_uni2" name="ed_uni2">
                                    <option value=""></option>
                                    <option value="University">University</option>
                                <option value="Institute">Institute</option>
                                </select></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Name of University or Institute:</td>
                                <td><input name="ed_nombre2" type="text" class="cajita" id="ed_nombre2" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Degree obtained:<br>
                                    <span class="txt_datos1">(please indicate the career you studied)</span></td>
                                <td><input name="ed_carrera2" type="text" class="cajita" id="ed_carrera2" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Study Period:</td>
                                <td class="txt_datos1">from:
                                  <input name="ed_inicio2" type="text" class="cajita" id="ed_inicio2" size="10" />
                                  until:
                                  <input name="ed_final2" type="text" class="cajita" id="ed_final2" size="10" />
                                  (Example: 07/09/1977)</td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:45px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td class="txt_form"><strong>3.</strong></td>
                                <td width="210" class="txt_form">Study Centre:</td>
                                <td><select id="ed_uni3" name="ed_uni3">
                                    <option value=""></option>
                                    <option value="University">University</option>
                                <option value="Institute">Institute</option>
                                </select></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Name of University or Institute:</td>
                                <td><input name="ed_nombre3" type="text" class="cajita" id="ed_nombre3" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Degree obtained:<br>
                                    <span class="txt_datos1">(please indicate the career you studied)</span></td>
                                <td><input name="ed_carrera3" type="text" class="cajita" id="ed_carrera3" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Study Period:</td>
                                <td class="txt_datos1">from:
                                  <input name="ed_inicio3" type="text" class="cajita" id="ed_inicio3" size="10" />
                                  until:
                                  <input name="ed_final3" type="text" class="cajita" id="ed_final3" size="10" />
                                  (Example: 07/09/1977)</td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <p align="center" class="tipsy-inner_form"><strong>Certifications</strong></p>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:45px">
                          <tr>
                            <td class="fnd_form"><p><span class="tit_important">Note:</span> Enter here the specialization courses / postgraduate in your area.</p>
                              <p align="center">
                              <textarea name="ed_certicaciones" rows="5" class="cajita1" id="ed_certicaciones" style="width:645px"></textarea>
                            </p></td>
                          </tr>
                        </table>
                        <p align="center" class="tipsy-inner_form"><strong>Working experience</strong></p>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><p><span class="tit_important">Note:</span> Please start with your most recent job and go back in cronological order. Do not insert more than 8 jobs. Seasonal jobs/work &amp; travel are considered working experience.</p>
                              <table width="100%" border="0" cellspacing="0" cellpadding="7" id="blq_1">
                                <tr>
                                  <td class="txt_form"><strong>1.</strong></td>
                                  <td width="210" height="30" class="txt_form">Company name or Institute:</td>
                                  <td><span class="tit_important">
                                    <input name="exp_cia1" type="text" class="cajita" id="exp_cia1" style="width:380px" />
                                    *</span></td>
                                </tr>
                                <tr>
                                  <td class="txt_form">&nbsp;</td>
                                  <td height="30" class="txt_form">City or Country:</td>
                                  <td class="txt_datos1"><input name="exp_ciudad1" type="text" class="cajita" id="exp_ciudad1" size="30" />
                                      <span class="tit_important">*</span> (Example: Lima - Per&uacute;)</td>
                                </tr>
                                <tr>
                                  <td class="txt_form">&nbsp;</td>
                                  <td height="30" class="txt_form">Rank or position:</td>
                                  <td><input name="exp_puesto1" type="text" class="cajita" id="exp_puesto1" style="width:380px" />
                                      <span class="tit_important">*</span></td>
                                </tr>
                                <tr>
                                  <td class="txt_form">&nbsp;</td>
                                  <td height="30" class="txt_form">Dates until employment:</td>
                                  <td class="txt_datos1">from: 
                                    <input name="exp_inicio1" type="text" class="cajita" id="exp_inicio1" size="10" />
                                    until: 
                                    <input name="exp_final1" type="text" class="cajita" id="exp_final1" size="10" />
                                    <span class="tit_important">*</span> (Example: 07/09/1977)</td>
                                </tr>
                                <tr>
                                  <td class="txt_form">&nbsp;</td>
                                  <td height="65" class="txt_form">Main duties:</td>
                                  <td><textarea name="exp_funcion1" rows="2" class="cajita1" id="exp_funcion1" style="width:380px"></textarea>
                                      <span class="tit_important">*</span></td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td height="32">&nbsp;</td>
                                  <td><a href="javascript:activarb('blq_2');"><img src="images/btn_mas_en.gif" alt="Add more" name="btn_mas1" width="120" height="25" border="0" id="btn_mas1" /></a></td>
                                </tr>
                              </table>                              
                            </td>
                          </tr>
                        </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="blq_2" style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td class="txt_form"><strong>2.</strong></td>
                                <td width="210" class="txt_form">Company name or Institute:</td>
                                <td><span class="tit_important">
                                  <input name="exp_cia2" type="text" class="cajita" id="exp_cia2" style="width:380px" />
                                </span></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">City or Country:</td>
                                <td class="txt_datos1"><input name="exp_ciudad2" type="text" class="cajita" id="exp_ciudad2" size="30" />
                                  (Example: Lima - Per&uacute;)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Rank or position:</td>
                                <td><input name="exp_puesto2" type="text" class="cajita" id="exp_puesto2" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Dates until employment:</td>
                                <td class="txt_datos1">from:
                                  <input name="exp_inicio2" type="text" class="cajita" id="exp_inicio2" size="10" />
                                  until:
                                  <input name="exp_final2" type="text" class="cajita" id="exp_final2" size="10" />
                                  (Example: 07/09/1977)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Main duties:</td>
                                <td><textarea name="exp_funcion2" rows="2" class="cajita1" id="exp_funcion2" style="width:380px"></textarea></td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td height="32">&nbsp;</td>
                                <td><a href="javascript:activarb('blq_3');"><img id="btn_mas2" src="images/btn_mas_en.gif" alt="Add more" width="120" height="25" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="blq_3" style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td class="txt_form"><strong>3.</strong></td>
                                <td width="210" class="txt_form">Company name or Institute:</td>
                                <td><span class="tit_important">
                                  <input name="exp_cia3" type="text" class="cajita" id="exp_cia3" style="width:380px" />
                                </span></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">City or Country:</td>
                                <td class="txt_datos1"><input name="exp_ciudad3" type="text" class="cajita" id="exp_ciudad3" size="30" />
                                  (<span class="txt_datos1">Example</span>: Lima - Per&uacute;)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Rank or position:</td>
                                <td><input name="exp_puesto3" type="text" class="cajita" id="exp_puesto3" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Dates until employment:</td>
                                <td class="txt_datos1">from:
                                  <input name="exp_inicio3" type="text" class="cajita" id="exp_inicio3" size="10" />
                                  until:
                                  <input name="exp_final3" type="text" class="cajita" id="exp_final3" size="10" />
                                  (Example: 07/09/1977)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Main duties:</td>
                                <td><textarea name="exp_funcion3" cols="46" rows="2" class="cajita1" id="exp_funcion3" style="width:380px"></textarea></td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td height="32">&nbsp;</td>
                                <td><a href="javascript:activarb('blq_4');"><img id="btn_mas3" src="images/btn_mas_en.gif" alt="Add more" width="120" height="25" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="blq_4" style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td class="txt_form"><strong>4.</strong></td>
                                <td width="210" class="txt_form">Company name or Institute:</td>
                                <td><span class="tit_important">
                                  <input name="exp_cia4" type="text" class="cajita" id="exp_cia4" style="width:380px" />
                                </span></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">City or Country:</td>
                                <td class="txt_datos1"><input name="exp_ciudad4" type="text" class="cajita" id="exp_ciudad4" size="30" />
                                  (Example: Lima - Per&uacute;)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Rank or position:</td>
                                <td><input name="exp_puesto4" type="text" class="cajita" id="exp_puesto4" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Dates until employment:</td>
                                <td class="txt_datos1">from:
                                  <input name="exp_inicio4" type="text" class="cajita" id="exp_inicio4" size="10" />
                                  until:
                                  <input name="exp_final4" type="text" class="cajita" id="exp_final4" size="10" />
                                  (Example: 07/09/1977)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Main duties:</td>
                                <td><textarea name="exp_funcion4" cols="46" rows="2" class="cajita1" id="exp_funcion4" style="width:380px"></textarea></td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td height="32">&nbsp;</td>
                                <td><a href="javascript:activarb('blq_5');"><img id="btn_mas4" src="images/btn_mas_en.gif" alt="Add more" width="120" height="25" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="blq_5" style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td width="20" class="txt_form"><strong>5.</strong></td>
                                <td width="210" class="txt_form">Company name or Institute:</td>
                                <td><span class="tit_important">
                                  <input name="exp_cia5" type="text" class="cajita" id="exp_cia5" style="width:380px" />
                                </span></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">City or Country:</td>
                                <td class="txt_datos1"><input name="exp_ciudad5" type="text" class="cajita" id="exp_ciudad5" size="30" />
                                  (Example: Lima - Per&uacute;)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Rank or position:</td>
                                <td><input name="exp_puesto5" type="text" class="cajita" id="exp_puesto5" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Dates until employment:</td>
                                <td class="txt_datos1">from:
                                  <input name="exp_inicio5" type="text" class="cajita" id="exp_inicio5" size="10" />
                                  until:
                                  <input name="exp_final5" type="text" class="cajita" id="exp_final5" size="10" />
                                  (Example: 07/09/1977)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Main duties:</td>
                                <td><textarea name="exp_funcion5" cols="46" rows="2" class="cajita1" id="exp_funcion5" style="width:380px"></textarea></td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td height="32">&nbsp;</td>
                                <td><a href="javascript:activarb('blq_6');"><img src="images/btn_mas_en.gif" alt="Add more" width="120" height="25" border="0" id="btn_mas5" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="blq_6" style="margin-bottom:45px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td class="txt_form"><strong>6.</strong></td>
                                <td width="210" class="txt_form">Company name or Institute:</td>
                                <td><span class="tit_important">
                                  <input name="exp_cia6" type="text" class="cajita" id="exp_cia6" style="width:380px" />
                                </span></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">City or Country:</td>
                                <td class="txt_datos1"><input name="exp_ciudad6" type="text" class="cajita" id="exp_ciudad6" size="30" />
                                  (Example: Lima - Per&uacute;)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Rank or position:</td>
                                <td><input name="exp_puesto6" type="text" class="cajita" id="exp_puesto6" style="width:380px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Dates until employment:</td>
                                <td class="txt_datos1">from:
                                  <input name="exp_inicio6" type="text" class="cajita" id="exp_inicio6" size="10" />
                                  until:
                                  <input name="exp_final6" type="text" class="cajita" id="exp_final6" size="10" />
                                  (Example: 07/09/1977)</td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Main duties:</td>
                                <td><textarea name="exp_funcion6" cols="46" rows="2" class="cajita1" id="exp_funcion6" style="width:380px"></textarea></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <p align="center" class="tipsy-inner_form"><strong>Languages</strong></p>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:45px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td width="5" class="txt_form"><strong>1.</strong></td>
                                <td width="120" height="30" class="txt_form">Select language:</td>
                                <td width="200"><label>
                                  <select id="idioma1" name="idioma1">
                                    <option value=""></option>
                                    <option value="English">English</option>
                  <option value="French">French</option>
                  <option value="Italian">Italian</option>
                  <option value="German">German</option>
                                  </select>
                                  <span class="tit_important">*</span></label></td>
                                <td width="100" class="txt_form">Language Level:</td>
                                <td><select id="nivel1" name="nivel1">
                                    <option value=""></option>
                                    <option value="Advanced">Advanced</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Basic">Basic</option>
                                  </select>
                                    <span class="tit_important">*</span></td>
                              </tr>
                              <tr>
                                <td class="txt_form"><strong>2.</strong></td>
                                <td class="txt_form">Select language:</td>
                                <td><label>
                                  <select id="idioma2" name="idioma2">
                                    <option value=""></option>
                                    <option value="English">English</option>
                  <option value="French">French</option>
                  <option value="Italian">Italian</option>
                  <option value="German">German</option>
                                  </select>
                                </label></td>
                                <td class="txt_form">Language Level:</td>
                                <td><select id="nivel2" name="nivel2">
                                    <option value=""></option>
                                    <option value="Advanced">Advanced</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Basic">Basic</option>
                                </select></td>
                              </tr>
                              <tr>
                                <td class="txt_form"><strong>3.</strong></td>
                                <td class="txt_form">Select language:</td>
                                <td width="30"><label>
                                  <select id="idioma3" name="idioma3">
                                    <option value=""></option>
                                    <option value="English">English</option>
                  <option value="French">French</option>
                  <option value="Italian">Italian</option>
                  <option value="German">German</option>
                                  </select>
                                </label></td>
                                <td class="txt_form">Language Level:</td>
                                <td><select id="nivel3" name="nivel3">
                                    <option value=""></option>
                                    <option value="Advanced">Advanced</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Basic">Basic</option>
                                </select></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <p align="center" class="tipsy-inner_form"><strong>Work References</strong></p>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><p><span class="tit_important">Note: </span>Point 2 people who can give good references about your professional performance.</p>
                              <table width="100%" border="0" cellspacing="0" cellpadding="7">
                                <tr>
                                  <td class="txt_form"><strong>1.</strong></td>
                                  <td width="170" height="30" class="txt_form">Names and last names:</td>
                                  <td><span class="tit_important">
                                    <input name="ref_nombres1" type="text" class="cajita" id="ref_nombres1" style="width:420px" />
                                  </span></td>
                                </tr>
                                <tr>
                                  <td class="txt_form">&nbsp;</td>
                                  <td height="30" class="txt_form">Position in the company:</td>
                                  <td><input name="ref_ocup1" type="text" class="cajita" id="ref_ocup1" style="width:420px" /></td>
                                </tr>
                                <tr>
                                  <td class="txt_form">&nbsp;</td>
                                  <td height="30" class="txt_form">Company name:</td>
                                  <td><input name="ref_cia1" type="text" class="cajita" id="ref_cia1" style="width:420px" /></td>
                                </tr>
                                <tr>
                                  <td class="txt_form">&nbsp;</td>
                                  <td height="30" class="txt_form">Phone number:</td>
                                  <td class="txt_datos1"><input name="ref_telefono1" type="text" class="cajita" id="ref_telefono1" size="17" maxlength="10" /> (Please indicate city code)</td>
                                </tr>
                              </table></td>
                          </tr>
                        </table>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:45px">
                          <tr>
                            <td class="fnd_form"><table width="100%" border="0" cellspacing="0" cellpadding="7">
                              <tr>
                                <td class="txt_form"><strong>2.</strong></td>
                                <td width="170" class="txt_form">Names and last names:</td>
                                <td><span class="tit_important">
                                  <input name="ref_nombres2" type="text" class="cajita" id="ref_nombres2" style="width:420px" />
                                </span></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Position in the company:</td>
                                <td><input name="ref_ocup2" type="text" class="cajita" id="ref_ocup2" style="width:420px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Company name:</td>
                                <td><input name="ref_cia2" type="text" class="cajita" id="ref_cia2" style="width:420px" /></td>
                              </tr>
                              <tr>
                                <td class="txt_form">&nbsp;</td>
                                <td class="txt_form">Phone number:</td>
                                <td class="txt_datos1"><input name="ref_telefono2" type="text" class="cajita" id="ref_telefono2" size="17" maxlength="10" /> (Please indicate city code)</td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <p align="center" class="tipsy-inner_form"><strong>Please select who to send your cv to</strong></p>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"  style="margin-bottom:25px">
                          <tr>
                            <td class="fnd_form"><table width="60%" border="0" align="center" cellpadding="7" cellspacing="0">
                              <tr>
                                <td align="center"><label>
                                  <input name="enviocv" type="radio" value="1" checked="checked" />
                                </label></td>
                                <td class="txt_form">Send to CRC</td>
                                <td class="txt_form"><input name="enviocv" type="radio" value="2" /></td>
                                <td class="txt_form">Send to my own e-mail to print CV</td>
                              </tr>
                              
                            </table></td>
                          </tr>
                        </table>
                        <table width="42%" border="0" align="center" cellpadding="10" cellspacing="0">
                          <tr>
                            <td width="40%" align="center"><input type="button" id="enviar" name="enviar" value="Send CV" class="styled-button-10" onClick="if(validate(this.form)) this.form.submit()" /></td>
                            <td align="left" class="tit_important">Mandatory field (*)</td>
                          </tr>
                        </table>
          </form>
      </td>
  </tr>
</table>
</section>
